In [ ]:
#Drop Tables

In [ ]:
songplay_table_drop = "DROP table IF EXISTS songplays"

In [ ]:
user_table_drop = "DROP table IF EXISTS users"

In [ ]:
song_table_drop = "DROP table IF EXISTS songs"

In [ ]:
artist_table_drop = "DROP table IF EXISTS artists"

In [ ]:
time_table_drop = "DROP table IF EXISTS time"

In [ ]:
#Create Tables

In [ ]:
songplay_table_create ="CREATE TABLE IF NOT EXISTS Songplays(songplay_id SERIAL PRIMARY KEY,start_time bigint NOT None,user_id int NOT None,\
                                                                    level varchar, song_id varchar, artist_id varchar, session_id int, \
                                                                    location text,user_agent text)"

In [ ]:
user_table_create ="CREATE TABLE IF NOT EXISTS Users(user_id int PRIMARY KEY, first_name varchar, last_name varchar, \
                                                                gender varchar,level varchar)"

In [ ]:
song_table_create ="CREATE TABLE IF NOT EXISTS Songs(song_id varchar PRIMARY KEY, title text, artist_id varchar, year int,\
                                                                    duration numeric)\"

In [ ]:
artist_table_create ="CREATE TABLE IF NOT EXISTS Artists(artist_id varchar PRIMARY KEY,name varchar, location text, \
                                                                    latitude decimal, longitude decimal)"

In [ ]:
time_table_create ="CREATE TABLE IF NOT EXISTS Time(start_time bigint PRIMARY KEY,hour int,day int,week int,month int,year int, \
                                                                weekday varchar)"

In [ ]:
#Insert rows

In [ ]:
songplay_table_insert="INSERT INTO Songplays VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [ ]:
user_table_insert="INSERT INTO Users VALUES(%s,%s,%s,%s,%s)"

In [ ]:
song_table_insert="INSERT INTO Songs VALUES(%s,%s,%s,%s,%s)"

In [ ]:
artist_table_insert="INSERT INTO Artists VALUES(%s,%s,%s,%s,%s)"

In [ ]:
time_table_insert="INSERT INTO Time VALUES(%s,%s,%s,%s,%s,%s,%s)"

In [ ]:
#Find Songs

In [ ]:
song_select = "\"\"select song_id,artist_id from songs a join artists b where a.title=%s and b.name=%s \"\"\"

In [ ]:
#QueryList

In [ ]:
create_table_queries = [songplay_table_create, user_table_create, song_table_create, artist_table_create, time_table_create]

In [ ]:
drop_table_queries = [songplay_table_drop, user_table_drop, song_table_drop, artist_table_drop, time_table_drop]